# Gmail OAuth Keys + Token
GmailVerification/credentials.json
GmailVerification/token.json

# Selenium Cache
social_casinos/__pycache__

# chromedriver
chromedriver

# Social Casino Credentials 
credentials.JSON

# Quarto Preview
README.html
README_files

# Test
test.py